body{
    margin-left: 10000000000px;
    margin-right:10000000000px;
   
}

.thumbnails{
    margin: 40px;
}
.buvar{
    margin-top: 20px;
    margin-left:40px;
}
.csizma{
    margin-top: 20px;
    margin-left:40px;
}
.drakula{
    margin-top: 20px;
    margin-left:40px;
}
.garfield{
    margin-top: 20px;
    margin-left:40px;
}
.kono{
    margin-top: 20px;
    margin-left:40px;
}

.lampa{
    margin-top: 20px;
    margin-left:40px;
}

.micimacko{
    margin-top: 20px;
    margin-left:40px;
}

.noebarkaja{
    margin-top: 20px;
    margin-left:40px;
}

